<section class="bg-gray-100 text-gray-800 min-h-screen flex items-center">
    <div class="container mx-auto px-6 md:px-12 lg:px-20 text-center">
      <h1 class="text-4xl md:text-6xl font-bold mb-4">
        Welcome to My Portfolio
      </h1>
      <p class="text-lg md:text-xl text-gray-600 mb-6">
        Showcasing my skills, projects, and achievements with a modern and professional touch.
      </p>
      <a
      routerLink="/services"
      class="bg-blue-500 hover:bg-blue-600 text-white py-3 px-6 rounded-lg font-medium transition-all duration-300 ease-in-out cursor-pointer"
    >
      Explore Services
      </a>
    </div>
  </section>

  <router-outlet></router-outlet>
  